<header class="covhead">{{ config.title }}</header>
{% if not countries %}
    <div class="dimmed light">{{ "LOADING" | translate }}</div>
{% else %}
    <table class="small table">
        <thead>
            <tr class="covheaders">
                <th>{{ " " }}</th>
                <th>{{ " " }}</th>
                {# Travers the data and build the heaaders dynamically #}
                {% for keys, data in countries[0].casesInfo %}
                    <th>{{ keys | translate }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody class="covbody">
            {% if globalstats %}
                {# Add Global stats here #}
                <tr class="globalsts">
                    <td>{{ " " }}</td>
                    <td align="center">
                        {{ "Global Stats" }}</td>
                        {# Build the global stats dynamically #}
                    {% for keys, data in globalstats.casesInfo %}
                        <td align="center">
                            {{ data }}
                        </td>
                    {% endfor %}
                </tr>
            {% else %}
                <tr></tr>
            {% endif %}
            {# sort does not work with a nested for. need to find a solution for this #}
            {% for stats in countries | sort(true, false, config.sortBy) %}
                <tr class="{{ "bright" if config.highlightCountry === stats.countryInfo.iso3 }}">
                    <td align="left"><img src="{{ stats.countryInfo.flag }}"  width=30px height=30px/></td>
                    <td align="center">{{ stats.country }}</td>
                    {% for keys, data in stats.casesInfo %}
                        <td align="center">{{ data }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
        <tfoot class="covfoot">
            <tr></tr>
        </tfoot>
    </table>
{% endif %}
{# Put the static taken at outside the table #}
<div class="bright">{{"statistic taken at" | translate}}
    {{ countries[0].updated }}</div>